<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Main Page', '/'%></li>
        <li><%= link_to 'Classification', 'classifications'%></li>
        <li><%= link_to 'Ideas', 'ideas'%></li>
        <li><%= link_to 'User', 'Users'%></li>
        <li class="time-now"><a href="javascript:;"><%= l(time_now, format: :basic) -%></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>